<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Recipe Hub | RECIPE</title>

    <!-- Favicon -->
    <link rel="icon" href="/static/img/core-img/logo.jpg">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="/static/style.css">

    <script>
        // Wait for 3 seconds (3000ms), then hide the flash message
        setTimeout(function() {
            var flashMessage = document.getElementById('flash-message');
            if (flashMessage) {
                flashMessage.style.display = 'none';
            }
        }, 3000);  // 3000 milliseconds = 3 seconds
    </script>

</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <i class="circle-preloader"></i>
        <img src="/static/img/core-img/salad.png" alt="">
    </div>

    <!-- Search Wrapper -->
    <div class="search-wrapper">
        <!-- Close Btn -->
        <div class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form action="#" method="post">
                        <input type="search" name="search" placeholder="Type any keywords...">
                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        

        <!-- Navbar Area -->
        <div class="delicious-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="deliciousNav">

                        <!-- Logo -->
                        <a class="nav-brand" href="/static/index.html"><img src="/static/img/core-img/logo.jpg" style="height: 100px; width: 150px;" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li  class="active"><a href="recipe">Recipes</a>
                                    <li><a href="addrecipe">Add Recipe</a></li>
                                    <li>
                                        {% if session.get("user_id") %}
                                            <a href="{{ url_for('logout') }}">Logout</a>
                                        {% else %}
                                            <a href="{{ url_for('login') }}">Login</a>
                                        {% endif %}
                                    </li>
                                </ul>


                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}" id="flash-message">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    </div>

    <!-- ##### Best Receipe Area Start ##### -->
    <section class="best-receipe-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h3>Breakfast</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Best Receipe Area -->
                {% for recipe1 in recipes %}
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-best-receipe-area mb-30">
                        {% if recipe1[6] == 'Breakfast' %}

                        <img src="{{ recipe1[7] }}" alt="Recipe Image">
                        <div class="receipe-content">
                            <a href="{{ url_for('recipe_detail', recipe_id=recipe1[0]) }}">
                                <h5>{{ recipe1[1] }}</h5>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %} 
        </div>
    </section>
    <!-- ##### Best Receipe Area End ##### -->

    <!-- ##### Best Receipe Area Start ##### -->
    <section class="best-receipe-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h3>Lunch</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Best Receipe Area -->
                {% for recipe2 in recipes %}
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-best-receipe-area mb-30">
                        {% if recipe2[6] == 'Lunch' %}

                        <img src="{{ recipe2[7] }}" alt="Recipe Image">
                        <div class="receipe-content">
                            <a href="{{ url_for('recipe_detail', recipe_id=recipe2[0]) }}">
                                <h5>{{ recipe2[1] }}</h5>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}                
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Best Receipe Area End ##### -->

        <!-- ##### Best Receipe Area Start ##### -->
        <section class="best-receipe-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading">
                            <h3>Dinner</h3>
                        </div>
                    </div>
                </div>
    
                <div class="row">
                    <!-- Single Best Receipe Area -->
                    {% for recipe3 in recipes %}
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-best-receipe-area mb-30">
                            {% if recipe3[6] == 'Dinner' %}
                            <img src="{{ recipe3[7] }}" alt="Recipe Image">
                            <div class="receipe-content">
                                <a href="{{ url_for('recipe_detail', recipe_id=recipe3[0]) }}">
                                    <h5>{{ recipe3[1] }}</h5>
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}                
                    </div>
                </div>
            </div>
        </section>
        <!-- ##### Best Receipe Area End ##### -->

            <!-- ##### Best Receipe Area Start ##### -->
            <section class="best-receipe-area">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-heading">
                                <h3>Desserts</h3>
                            </div>
                        </div>
                    </div>
        
                    <div class="row">
                        <!-- Single Best Receipe Area -->
                        {% for recipe in recipes %}
                        <!-- {{recipe}} -->
                         {% if recipe[6] == 'Dessert' %}
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="single-best-receipe-area mb-30">
                                    <img src="{{ recipe[7] }}" alt="Recipe Image">
                        
                                    <div class="receipe-content">
                                        <a href="{{ url_for('recipe_detail', recipe_id=recipe[0]) }}">
                                            <h5>{{ recipe[1] }}</h5>
                                        </a>
                                    </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}               
                        </div>
                    </div>
                </div>
            </section>
    <!-- ##### Best Receipe Area End ##### -->



    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 h-100 d-flex flex-wrap align-items-center justify-content-between">
                    <!-- Footer Social Info -->
                   
                    <!-- Footer Logo -->
                    <div class="footer-logo">
                        <a href="/static/index.html"><img src="/static/img/core-img/logo.png" alt=""></a>
                    </div>
                    <!-- Copywrite -->
                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="/static/https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Files ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="/static/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/static/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/static/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/static/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="/static/js/active.js"></script>
</body>

</html>